# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages

/TodoListApp.Business/bin
/TodoListApp.Data/bin
/TodoListApp.Entities/bin
/TodoListApp.Identity/bin
/TodoListApp.IoC/bin
/TodoListApp.Persistence/bin
/TodoListApp.Web/bin

# ide
/.vs
